/*==============================================================================================
starting.scss
==============================================================================================*/

* {
  @include box-sizing(border-box);
}

body,html{
	margin: 0px !important;
	padding: 0px !important;
	height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
}

::-moz-selection, ::selection, ::-moz-selection {
  color: #ebebe3;
  background: #222;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
anchor link
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a {
  text-decoration: none;
  outline: none;

  &:hover, &:focus {
    text-decoration: none;
  }

  img {
    border: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Back to top */

#back-to-top {
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(80, 80, 80, 0.67);
  padding: 17px 0;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
}

.not-on-top #back-to-top {
  opacity: 1;
}

#back-to-top {
  &:after {
    /* position: absolute; */
    display: inline-block;
    @include fontawesome();
    content: '\f077';
    top: 50%;
    margin-top: -7px;
    font-size: 20px;
    color: #fff;
    right: 0;
  }
  @include transition('opacity .5s ease-in');
}

/* Animation */

#offcanvas {
  @include transition("transform 0.2s ease-in");
}

.overlay {
  @include transition('opacity .3s ease-out');
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Button
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.btn {
  color: #fff;
  background-color: #C5C5C5;
  border-color: #C5C5C5;
  &:hover {
    color: #fff;
    background-color: #A1A1A1;
    border-color: #A1A1A1;
  }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Sticky header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.sticky-header-on #header .sticky-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  right: 0;
  z-index: 101;
  @include animation(sticky-header 0.6s);
}

@keyframes sticky-header {
  0% {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0%);
  }
}


/* Greedy Nav */

.greedy > span {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 36px 0;
  color: #fff;
  cursor: pointer;
}

#navbar .hidden-links {
  padding-right: 0;
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  background-color: #00ADEF;
  z-index: 100;

  li {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-align: left;

    > a {
      text-align: center;
      padding: 5px 15px;
    }

    &:hover {
      background-color: #0A90C3;
    }

    > ul {
      padding: 0 15px;
    }
  }
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
menu on mobile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#offcanvas {
  ul {
    margin: 0;
    padding: 0;
    ul {
      padding-left: 15px;
    }
  }
  > ul {
    padding: 20px;
    overflow: auto;
    height: 100vh;
  }
  li {    
    &.menu-item-has-children.opened {
      padding-bottom: 0;
    }
    list-style: none;
    padding: 15px 0;
    border-bottom: 2px solid #4B4B4B;

    &:last-child {
      border: 0;
    }
  }
}

.offcanvas-opened {
  height: 100vh;
  overflow: hidden;
}

.offcanvas-hamburger {
  display: none;

  &:after {
    @include fontawesome();
    content: '\f00d';
    font-size: 23px;
  }
}

#offcanvas {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80%;
  background: #383838;
  z-index: 120;
  left: 0;
  @include transform(translateX(-100%));
  display: none;
  &.right {
    left: auto;
    right: 0;
    @include transform(translateX(100%));
  }
  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }
}

.close-btn {
  width: 50px;
  height: 50px;
  background: #383838;
  position: absolute;
  right: -50px;
  top: 10px;
  display: none;
  color: #fff;
  padding: 13px 15px;
  cursor: pointer;
  &:after {
    @include fontawesome();
    content: '\f00d';
    font-size: 23px;
  }
}

.offcanvas-opened .close-btn {
  display: block;
}

#offcanvas.right .close-btn {
  right: auto;
  left: -50px;
}

.offcanvas-opened #offcanvas {
  @include transform(translateX(0%));
}

/* Phone detection */

#phone-detection {
  display: none;
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.79);
  z-index: -115;
  opacity: 0;
}

.offcanvas-opened .overlay {
  z-index: 115;
  opacity: 1;
}

/* Class that need to vertically centered */

.ss-slideshow {
  .ss-browse, .ss-slide-caption {
    
    @include flex();
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
  }
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
LOGO
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#logo img {
  width: 100%;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
NAVBAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#navbar {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0px;
    li {
      display: inline-block;
      font-size: 15px;
    }
    ul {
      display: none;
    }
  }
  > div > ul > li > a {
    position: relative;
    display: block;
    padding: 15px;
    line-height: 20px;
  }
  .menu-item-has-children a {
    position: relative;
  }
  > div > ul > li.menu-item-has-children > a:after {
    position: relative;
    display: inline-block;
    @include fontawesome();
    content : '\f0d7';
    font-size: 10px;
    color: #333;
    right: 0;
    padding: 4px 5px;
    vertical-align: top;
    padding-right: 0;
  }
}

.greedy > .greedy-trigger:after {
  position: relative;
  @include fontawesome();
  content: '\f0d7';
  font-size: 10px;
  color: #333;
  right: 0;
  padding: 4px 5px;
  vertical-align: top;
  padding-right: 0;
}

/* Navbar submenu reveal */

#navbar {
  > div > ul {
    > li {
      &.current-menu-item > a, &.current-menu-ancestor > a {
        color: #555;
        background-color: #e7e7e7;
      }
    }
    li:hover > ul {
      display: block;
    }
    ul {
      position: absolute;
      top: 100%;
      background: #F8F8F8;
      border: 1px solid transparent;
      border-color: #e7e7e7;
      right: 0;
      z-index: 200;
      border-top: 0;
      text-align: left;
    }
  }
  &.navbar-level-right {
    > div > ul ul {
      text-align: right;
    }
    > div > ul > li > ul {
      right: auto;
      left: 0;
    }
    > div > ul ul ul {
      right: auto;
      left: 100%;
    }
  }
  > div > ul {
    li {
      position: relative;
    }
    ul {
      li {
        display: block;
      }
      a {
        display: block;
        padding: 10px 15px;
        white-space: nowrap;
        &:hover {
          background: #ECECEC;
        }
      }
      ul {
        top: 0;
        right: 100%;
      }
    }
    > li a {
      &[title=right] + ul {
        text-align: left !important;
      }
      &[title=left] + ul {
        text-align: right !important;
      }
      &[title=right] + ul ul {
        text-align: left;
      }
      &[title=left] + ul ul {
        text-align: right;
      }
    }
  }
  > div > ul > li > a {
    &[title=right] + ul {
      right: auto;
      left: 0;
    }
    &[title=left] + ul {
      left: auto;
      right: 0;
    }
  }
  > div > ul > li {
    > a[title=right] + ul ul, ul li > a[title=right] + ul {
      right: auto;
      left: 100%;
    }
    > a[title=left] + ul ul, li > a[title=left] + ul ul, ul li > a[title=left] + ul {
      right: 100%;
      left: auto;
    }
  }
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Styling for section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

section {
  background-size: cover;
  background-position: center center;
}

/* Section top header, used for logo and navbar */

#section-header-top {
  position: relative;
  min-height: 50px;
  border-bottom: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin-bottom: 0;
  &.navbar-inline {
    .header-wrapper {
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
    }
    #logo {
      float: left;
    }
    #navbar {
      float: right;
    }
  }
}

/* Class to make it full width */

.full-width .container {
  width: auto;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

/* Add overlay to background */

.overlay-bg {
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    content: "";
    background: rgba(0, 0, 0, 0.46);
  }
  .container {
    position: relative;
    z-index: 51;
  }
  position: relative;
  color: #fff;
  a {
    position: relative;
    color: #fff;
  }
}

/* Revert overlay for carousel */



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#footer {
  background: #222;
  color: #fff;
  padding: 15px 0;
}

.ss-ypnz-footer-widget {
  text-align: center;
  > * {
    display: inline-block;
    margin: 0;
  }
}

/* == WordPress WYSIWYG Editor Styles == */

.entry-content img {
  margin: 0 0 1.5em 0;
}

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone, img.alignnone {
  /* not sure about this one */
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
  img {
    border: 0 none;
    padding: 0;
    margin: 0;
  }
  p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
  }
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote {
  &.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
  }
  &.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
  }
}